<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GPA</title>
</head>

<body>
	<h1>Display GPAs Greater than or Equal to</h1>
    
    <%- form %>
        <label><b>GPA: </b><input type="number" name="GPA" step = ".01"></label><br><br>
		<input type="submit" value="Submit Application"/>
        <hr>
	</form>

    <a href="/">HOME</a>
</body>

</html>