<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application Confirmation</title>
</head>

<body>
	<h1>Applicants Data</h1>

	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>GPA: </strong><%- GPA %><br>
		<strong>Background Information:</strong><br><%- backgroundInformation %>
		<br>
	</div>

    <a href="/">HOME</a>
</body>

</html>